<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello Vue Forms</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>

<div id="app">

    <label>Please enter your name:</label>
    <input v-model="name">

    <p v-if="name">Thanks, your name is {{ name }}</p>
    <p v-else>Awaiting user input</p>
    <!-- v-else aka the 'else if' block for vue -->
    <!-- v-if shows elements based on boolean value -->

    <button v-on:click="clearName">Clear Name</button>
    <!-- v-on is used to attach an event listener -->

</div>

<script>
    const { createApp, ref } = Vue

    createApp({
        setup() {

            const name = ref('')    //empty string

            function clearName() {
                name.value = ''     // empty name value
            }

            return {
                name,
                clearName
            }
        }
    }).mount('#app')

</script>

</body>
</html>